body{
  font-family: sans-serif;
  font-size:120%;
  background-color: #FCF7F8;
  font-family: 'Times New Roman', Times, serif;
  border-style:groove;
  border-width: 30px;
  border-color:black;
  display:flex;
  flex-direction: column;
}

header {
  color:rgb(245, 238, 238);
  background-color:rgb(43, 37, 31);
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  justify-content: center;
}

footer {
  background-color: #343330;
  text-align:center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2{ color: rgb(255, 255, 255);
  background-color:rgb(43, 37, 31);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin:0px;
  padding: 10px;
}

#menu {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: brown;
}

.h1{
  font-size: 30px;
  color:black;
  margin: 10px;
}

#nanamipicture{
  width: 250px;
  border-radius: 50%;
}

.sidebar{
  padding:0%;
  list-style: none;
  background-color: rgb(162, 224, 181);
}

.menu{
  background-color: rgb(162, 224, 181);
}

.main{
  display: flex;
  flex-direction: row;
  overflow: unset;
}

.nav{
  color:#FCF7F8;
  background-color: rgb(162, 224, 181);
  padding: 80px;
}

#ul{
  font-size: 30px;
}
